body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  background-color: #ecf0f1; /* Background color of the big rectangle */
  padding: 10px; /* Padding for the big rectangle */
  border-radius: 10px; /* Border radius for the big rectangle */
}

button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Button border radius */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9; /* Button background color on hover */
}
